{% extends "dashboard.html" %}
{% block title %}Supprimer patient{% endblock %}

{% block content %}
<div class="card p-4 shadow-sm col-md-6 mx-auto mt-10 text-center">
    <h4 class="text-danger mb-3">⚠️ Supprimer le patient</h4>

    <p class="text-black border rounded p-4 mt-40" style="background-color: rgb(246, 246, 248) !important;">
        Confirmez-vous la suppression  du patient <strong>{{ patient.prenom }} {{ patient.nom }}</strong> dont le numéro de téléphone est <strong>{{ patient.telephone }}</strong> et dont la date de naissance est <strong>{{ patient.date_naissance|date:"d/m/Y" }}</strong> ?
        
    </p>

    <form method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-center gap-3 mt-4">
            <a href="{% url 'patient:list_patient' %}" class="btn btn-secondary">
                Annuler
            </a>
            <button class="btn btn-danger">
                Supprimer
            </button>
        </div>
    </form>
</div>
{% endblock %}
