{% extends "dashboard.html" %}
{% block title %}Détail consultation{% endblock %}

{% block content %}
<div class="card p-4 shadow-sm">
    <h4 class="mb-3">🩺 Consultation du {{ consultation.date|date:"d/m/Y" }}</h4>

    <div class="row mb-3">
        <div class="col-md-6">
            <strong>Patient :</strong> {{ consultation.patient.nom }}{{ consultation.patient.prenom }}
        </div>
        <div class="col-md-6">
            <strong>Médecin :</strong> {{ consultation.medecin.email }}
        </div>
    </div>

    <hr>

    <div class="mb-3">
        <h6 class="text-black"><strong>Diagnostic</strong></h6>
        <p class="text-black">{{ consultation.diagnostic }}</p>
    </div>

    <div class="mb-3">
        <h6 class="text-black"><strong>Traitement</strong></h6>
        <p class="text-black">{{ consultation.traitement }}</p>
    </div>

    <div class="mt-4">
        <a href="{% url 'consultations:modifier' consultation.id %}"
           class="btn btn-primary">
            Modifier
        </a>
        <a href="{% url 'consultations:list' %}"
           class="btn btn-secondary">
            Retour
        </a>
    </div>
</div>
{% endblock %}
