{% extends "base_auth.html" %}
{% block title %}Changer le mot de passe{% endblock %}

{% block content %}
<h4 class="text-center mb-4">Changer le mot de passe</h4>

<form method="post" novalidate>
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Mot de passe actuel</label>
        {{ form.old_password }}
    </div>

    <div class="mb-3">
        <label class="form-label">Nouveau mot de passe</label>
        {{ form.new_password1 }}
    </div>

    <div class="mb-4">
        <label class="form-label">Confirmer le mot de passe</label>
        {{ form.new_password2 }}
    </div>

    <button type="submit" class="btn btn-warning w-100">
        Mettre à jour
    </button>
</form>
{% endblock %}
