{% extends "base_auth.html" %}
{% block title %}Nouveau mot de passe{% endblock %}

{% block content %}
<h4 class="text-center mb-4">Nouveau mot de passe</h4>

<form method="post" novalidate>
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Nouveau mot de passe</label>
        {{ form.new_password1 }}
    </div>

    <div class="mb-4">
        <label class="form-label">Confirmer le mot de passe</label>
        {{ form.new_password2 }}
    </div>

    <button type="submit" class="btn btn-success w-100">
        Réinitialiser le mot de passe
    </button>
</form>
{% endblock %}
